terraform {
  backend "s3" {
    bucket         = "REPLACE_WITH_PRIVATE_EKS_STATE_BUCKET"
    key            = "cloudai-platform/eks-private-network/terraform.tfstate"
    region         = "ap-southeast-2"
    dynamodb_table = "REPLACE_WITH_PRIVATE_EKS_LOCK_TABLE"
    encrypt        = true
  }
}
